<nav>
    <ul>
        <a href="acceuil.php">
            <img src="assets/logo.png" alt="LOGO"  width="100">
        </a>
        <li><a href="acceuil.php">ACCEUIL</a></li>
        <li><a href="carte.php">CARTE</a></li>
        <li><a href="infos.php">INFOS</a></li>
        <li><a href="contact.php">CONTACT</a></li>
            <!--<a href="user.php">
            <img src="user.png" alt="Clickable image" width="40">
             </a> -->
            <a href="panier.php">
            <img src="assets/ticket.png" alt="Panier" width="40">
            </a>
            <a href="menuburger.php">
            <img src="assets/menu.png" alt="Menu" width="50">
            </a>
    </ul>
</nav>
