<footer>
    <div class="container">
      <div class="footer-content">
        <div class="footer-section about">
          <h2>À propos de nous</h2>
          <p>
            KANDEM Jean-Philipe, JACCOD Timéo, 
            <br> 
            Rayan et TRAN Christopher
            <br>
            <br>
            IUT De Meaux Université Gustave Eiffel
            <br>
            <br>
            01 12 34 56 78
            <br>
            <br>
            mmi1iut.univ-eiffel.fr
          </p>
          
        </div>
        <div class="footer-section links">
          <h2>Liens rapides</h2>
          <ul>
            <li><a href="#">Acceuil</a></li>
            <li><a href="#">Carte</a></li>
            <li><a href="#">Infos</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Panier</a></li>
          </ul>
        </div>
        <div class="footer-section contact-form">
          <h2>Contactez nous</h2>
          <form action="#">
            <input type="email" name="email" class="text-input contact-input" placeholder="Votre email">
            <textarea name="message" class="text-input contact-input" placeholder="Votre message"></textarea>
            <button type="submit" class="btn btn-big contact-btn">
              <i class="fas fa-envelope"></i>
              Envoyer
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2024 Phuc Loc Sushi.
    </div>
  </footer>
